version: 2

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    assignees:
      - leon0399
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope

  # Fetch and update latest `npm` packages
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    assignees:
      - leon0399
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
      storybook:
        applies-to: version-updates
        patterns:
          - storybook
          - "@storybook*"
        update-types:
          - "minor"
          - "patch"

      react:
        applies-to: version-updates
        patterns:
          - react
          - react-dom
          - "@react*"
          - "@types/react*"
        update-types:
          - "minor"
          - "patch"

      next:
        applies-to: version-updates
        patterns:
          - next
          - next.js
          - "@next*"
          - "next-*"
        update-types:
          - "minor"
          - "patch"

      emotion:
        applies-to: version-updates
        patterns:
          - "@emotion*"
        update-types:
          - "minor"
          - "patch"

      testing-library:
        applies-to: version-updates
        patterns:
          - "@testing-library*"
        update-types:
          - "minor"
          - "patch"

      jest:
        applies-to: version-updates
        patterns:
          - jest
          - "@jest*"
          - "jest-*"
          - "ts-jest"
        update-types:
          - "minor"
          - "patch"

      tailwindcss:
        applies-to: version-updates
        patterns:
          - tailwindcss
          - "@tailwindcss*"
        update-types:
          - "minor"
          - "patch"

      eslint:
        applies-to: version-updates
        patterns:
          - eslint
          - "eslint*"
          - "@eslint*"
          - "@typescript-eslint*"
        update-types:
          - "minor"
          - "patch"
