name: Test

on:
  pull_request:
  push:
    branches: [master]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: "yarn"
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: yarn --prefer-offline --frozen-lockfile --ignore-engines --non-interactive --foreground-scripts --production=false --platform=linux --arch=x64
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
          HUSKY_SKIP_INSTALL: true

      - name: Lint code
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: "yarn"
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: yarn --prefer-offline --frozen-lockfile --ignore-engines --non-interactive --foreground-scripts --production=false --platform=linux --arch=x64
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
          HUSKY_SKIP_INSTALL: true

      - name: Jest
        run: yarn test:ci
